.about-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 555px;
  background-image: url("../img/about-app.svg");
  background-position: 50% 90%;
  background-repeat: no-repeat;
  background-color: $bg-gray;
}

.about-app__header {
  width: 350px;
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.about-app__item {
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .about-app {
    align-items: flex-start;
    padding-bottom: 75px;
    background-position: 94% 40%;
  }
}

@media (min-width: $desktop-width) {
  .about-app {
    padding-bottom: 160px;
    background-position: 84% 10%;
    background-size: 40%;
  }

  .about-app__header {
    width: 500px;
    margin-bottom: 70px;
    font-size: 48px;
  }
}
