.app-description {
  position: relative;
  padding-left: 50px;

  &::before {
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 88%;
    width: 42px;
    height: 42px;
    background-image: url("../img/icon-telegram.svg");
    content: "";
  }
}

.app-description__header {
  width: 250px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
}

.app-description__text {
  width: 251px;
}

.app-description--simplicity::before {
  top: 7%;
  background-image: url("../img/icon-box.svg");
}

.app-description--assistant::before {
  top: 22%;
  background-image: url("../img/icon-money.svg");
}

.app-description--customize::before {
  background-image: url("../img/icon-teacher.svg");
}

@media (min-width: $tablet-width) {
  .app-description__text {
    width: 354px;
  }

  .app-description::before {
    right: 95%;
  }

  .app-description--customize::before {
    top: 16%;
  }
}

@media (min-width: $desktop-width) {
  .app-description {
    padding-left: 95px;
  }

  .app-description__header {
    width: 430px;
    margin-bottom: 10px;
    font-size: 24px;
  }

  .app-description__text {
    width: 430px;
    margin-bottom: 48px;
  }

  .app-description::before {
    top: 15%;
    right: 87%;
    width: 63px;
    height: 63px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .app-description--simplicity::before {
    top: -3%;
  }

  .app-description--customize::before,
  .app-description--assistant::before {
    top: 2%;
  }
}
