.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.connect__header {
  margin-bottom: 45px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.connect__steps-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.connect__card {
  margin-bottom: 45px;
}

.connect__swiper-wrapper {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
}

@media (min-width: $tablet-width) {
  .connect__header {
    width: 491px;
  }

  .connect__steps-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .connect__swiper-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .connect__header {
    width: 1010px;
    font-size: 46px;
    line-height: 64px;
  }

  .connect__steps-wrapper {
    width: 1100px;
    background-image: url("../img/airplanes-line.svg");
    background-repeat: no-repeat;
  }

  .connect__card--second {
    margin-top: 90px;
  }
}
