.distribution {
  padding-top: 54px;
  padding-bottom: 54px;
}

.distribution__wrapper {
  width: 330px;
  min-height: 467px;
  margin: 0 auto;
  padding: 303px 28px 40px;
  border-radius: 6px;
  background-image: url("../img/bg-distribution.svg");
  background-position: 50% 25%;
  background-repeat: no-repeat;
  background-color: $violet;
}

.distribution__header {
  margin-bottom: 15px;
  color: $white;
  font-weight: 800;
  font-size: 24px;
  line-height: 32px;
}

@media (min-width: $tablet-width) {
  .distribution__wrapper {
    width: 688px;
    min-height: 288px;
    padding: 47px 27px 85px 326px;
    background-image: url("../img/bg-distribution.svg"),
      url("../img/bg-mask-distribution.svg");
    background-position: 7% 104%;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .distribution__wrapper {
    width: 1110px;
    padding-right: 185px;
    padding-left: 475px;
    background-position: 7% 104%, 10% 0;
    background-size: 26%, 100%;
  }

  .distribution__header {
    margin-bottom: 32px;
    font-size: 33px;
    line-height: 41px;
  }
}
