.form-distribution {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-distribution__email-field {
  width: 151px;
  height: 44px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-color: transparent;
  padding-left: 16px;
  font-size: 15px;
  line-height: 24px;
  outline: none;
}

.form-distribution__submit {
  width: 120px;
  height: 44px;
  color: $white;
  background-color: $text-black;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  border-color: transparent;
}

@media (min-width: $tablet-width) {
  .form-distribution__email-field {
    width: 210px;
    height: 52px;
  }

  .form-distribution__submit {
    width: 120px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .form-distribution__email-field {
    width: 248px;
  }
}
