.page-header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-gray;
}

.page-header__logo {
  order: 1;
  margin-right: 100px;
}

.page-header__toggle {
  order: 2;
  width: 32px;
  height: 18px;
  background-color: transparent;
  background-image: url("../img/icon-burger.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.2;
  }
}

.page-header__toggle--opened {
  background-image: url("../img/icon-cross.svg");
  background-size: contain;
  background-position: 50%;
}

.page-header__nav {
  order: 3;
  margin: 0 auto;
}

.page-header__nav--mobile-closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-header__logo-image {
    width: 133px;
    height: 42px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    margin: 0;
  }

  .page-header__nav--mobile-closed {
    display: flex;
  }
}
