.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 50px;
  background-image: url("../img/icon-quote.svg");
  background-position: 94% 2%;
  background-repeat: no-repeat;
  background-color: $bg-gray;
}

.review__header {
  margin-bottom: 40px;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
}

.review__card {
  width: 328px;
  margin-bottom: 25px;
}

.review__cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review__swiper-wrapper {
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: $tablet-width) {
  .review {
    padding-top: 95px;
    background-size: 16%;
  }

  .review__card {
    width: 540px;
  }

  .review__swiper-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

@media (min-width: $desktop-width) {
  .review {
    background-position: 96% 6%;
  }
  .review__header {
    font-size: 46px;
    line-height: 64px;
  }

  .review__card {
    margin-right: 0;
  }
  .review__cards-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .review__swiper-wrapper {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
