.swiper {
  width: 100%;
}

.swiper-slide {
  height: auto;
}

.swiper-pagination-bullet {
  border: 2px solid $violet;
  background-color: transparent;
}

.swiper-pagination-bullet-active {
  background-color: $violet;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}
