$text-black: #1d2530;
$text-gray: #eeeff4;
$cards-shadow: rgba(0, 0, 0, 0.07);
$violet: #685ed6;
$violet-light: rgba(104, 94, 214, 0.05);
$pink: #f1e4ff;
$violet-secondary: #c39bfb;
$white: #ffffff;
$ocean: #33afe1;
$diamond: #18e1f7;
$bg-gray: rgba(242, 247, 255, 0.5);
$bg-copyright: #141b23;

$mobile-width: 378px;
$tablet-width: 768px;
$desktop-width: 1210px;
